@media (max-width: 1400px) {
    .footer__form {
        display: flex;
        flex-direction: column;
        input {
            margin: 0 0 70px;
            width: 300px;
        }
        textarea {
            margin-top: 70px;
            height: 200px;
            width: 300px;
        }
    }
}

@media (max-width: 425px) {
    .footer__social-link {
        margin: 0 10px;
    }
}

@media (max-width: 375px) {
    .footer__container {
        padding: 0 10px;
    }
}

@media (max-width: 320px) {
    .footer__form {
        input {
            width: 250px;
        }
        textarea {
            width: 250px;
        }
    }
}
