@media (max-width: 1190px) {
    .tabs__container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .tabs__control {
        flex-direction: row;
        margin: 0 auto;
    }
    .tabs__content {
        margin: 100px auto;
    }
}

@media (max-width: 480px) {
    .tabs__container {
        padding: 0;
    }
    .tabs {
        &__control {
            &-btn {
                padding: 40px 0;
                width: 90px;
            }
        }
        &__content {
            width: 250px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 320px) {
    .tabs__img {
        img {
            width: 280px;
        }
    }
}
