@media (max-width: 1200px) {
    .pricing__content {
        flex-direction: column;
    }
    .pricing__item {
        margin: 0 auto 100px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 425px) {
    .pricing__container {
        padding: 0 10px;
    }
}

@media (max-width: 320px) {
    .pricing__item {
        width: 290px;
    }
}
